@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");
*,
*:before,
*:after {
   font-family: "Roboto", sans-serif;
   box-sizing: border-box;
}

h1 {
   font-family: "Open Sans", sans-serif;
   font-weight: 600;
   letter-spacing: 3px;
}

body {
   color: white;
   width: 15rem;
   background-color: aquamarine;
   height: 15rem;
   background: -webkit-linear-gradient(360deg, #00537e 10%, #3aa17e);
   background: linear-gradient(360deg, #00537e 10%, #3aa17e);
   border: 5px solid rgba(172, 172, 172, 0.274);
}

h1 {
   font-weight: 100;
   text-align: center;
}

.container {
   height: 90%;
   width: 95%;
}

.flex-center {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.input-field {
   gap: 5px;
   align-items: flex-start;
}

.time > input,
.time > select,
button {
   background-color: rgb(245, 245, 245);
   height: 2rem;
   width: 20%;
   font-size: 1rem;
   align-self: center;
   gap: 5px;
   padding-left: 5px;
   border: none;
   border-radius: 5px;
   box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.06);
}

button {
   align-self: center;
   transition: 1s ease-in-out linear;
}

button:hover {
   transform: scale(1.05);
}

.time > select {
   width: 25%;
}

.time > input:focus,
.time > select:focus {
   outline: none;
}
