@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

*,
*:before,
*:after {
   font-family: "Roboto", sans-serif;
   box-sizing: border-box;
}

body {
   width: 15rem;
   background-color: aquamarine;
   height: 15rem;
   background: #7f7fd5;
   background: -webkit-linear-gradient(to bottom, #91eae4, #86a8e7, #7f7fd5);
   background: linear-gradient(to bottom, #91eae4, #86a8e7, #7f7fd5);
}

h1 {
   font-weight: 100;
   text-align: center;
}

.container {
   height: 90%;
   width: 95%;
}

.flex-center {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.input-field {
   gap: 5px;
   align-items: flex-start;
}

.time > input,
.time > select {
   background-color: rgb(245, 245, 245);
   height: 2rem;
   width: 20%;
   font-size: 1rem;
   align-self: center;
   gap: 5px;
   padding-left: 5px;
   border: none;
   border-radius: 5px;
   box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.06);
}

.time > select {
   width: 25%;
}

.time > input:focus, .time > select:focus {
   outline: none;
}
